$color-primary: #1c96d6;
$color-info: #6EB2FB;
$accent-color: #00478a;

body {
  line-height: 1.5;
}

// set background of div
.vm-voomsway-filter {
  font-family: 'OpenSans', sans-serif;
  padding: 33px 33px 33px 33px;
  //background-color: rgba(0, 0, 0, .5);
}

// div holding two checkbox
.vm-trip-type-group {
  flex: 0 0 100%;
  > div {
    display: flex;
  }

  input[type=radio] {
    //position: absolute;
    //clip: rect(0,0,0,0);
    //pointer-events: none;
    appearance: none;
  }
}

// checkbox label css
.vm-checkbox-label {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;

  color: #000;
  background-color: #ffffff;
  user-select: none;
  cursor: pointer;
  border: solid 1px #eff2f6;

  &.active {
    color: #fff;
    background-color: #00478a;
    border-color: #00478a;
    pointer-events: none;
  }
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.vm-btn-primary {
  width: 100%;
  border: solid 1px $accent-color;
  background-color: $accent-color;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &:hover {
    background-color: darken($accent-color, 5%);
  }
  &:disabled {
    opacity: 0.8;
    &:hover {
      opacity: 0.8;
      background-color: $accent-color;
    }
  }
}

// tab section
.vm-tab-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;

  .vm-tab-label {
    cursor: pointer;
    border-bottom: 1px solid #dfe8ef;
    display: flex;
    flex: 1;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #535a5f;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;

    &.vm-active-tab {
      pointer-events: none;
      color: $accent-color;
      border-bottom: 3px solid $accent-color;
    }
  }
}


.vm-select-field-3 {
  flex: 0 0 calc(25% - 9px);
  margin-top: 10px;
  margin-right: 12px;
}

.vm-select-field-3:nth-of-type(4n) {
  margin-right: 0;
}

.vm-select-field-4 {
  flex: 0 0 calc(33.333% - 8px);
  margin-top: 10px;
  margin-right: 12px;
}

.vm-select-field-4:nth-of-type(3n) {
  margin-right: 0;
}

.vm-select-field-6 {
  flex: 1 0 calc(50% - 12px);
  margin-top: 10px;
  margin-right: 12px;
}

.vm-select-field-6:nth-of-type(2n) {
  margin-right: 0;
}

.vm-select-field-6:last-of-type {
  margin-right: 0;
}

.vm-select-field {
  flex: 1;
  margin-top: 10px;
  margin-right: 10px;
}

.vm-select-field:last-of-type {
  margin-right: 0;
}

.vm-select-field-12 {
  flex: 0 0 100%;
  margin-top: 10px;
}
